/*menu-item-list-admin,menu-item-list-customer,edit-menu-item,edit-menu-item-status,menu-item-list-customer-notification,cart,cart-empty,cart-notification */
header {
    color: #f5f0f0;
    top: 0%;
    background-color: #344a91;
    min-width: 100%;
    position: fixed;
    left: 0%;
    font-size: 35px;
    padding: 10px;
}
/*menu-item-list-admin,menu-item-list-customer,edit-menu-item,edit-menu-item-status,menu-item-list-customer-notification,cart,cart-empty,cart-notification */
header h1 {
    margin-left: 2%;
    position: fixed;
    margin-top: 0.6%;
}
/*For heading page*/
h1 {
    top: 20%;
    font-family: "Times New Roman";
    position: fixed;
    left: 5%;
    margin-right: 70px;
}

h2 {
    font-size: 160%;
    top: 27%;
    font-family: "Times New Roman";
    position: fixed;
    color: #4bc447;
    left: 14%;
}
/*#item-cart {
    font-size: 160%;
    top: 27%;
    font-family: "Times New Roman";
    position: fixed;
    color: #4bc447;
    left: 16%;
}*/
/* For all table page */
table {
    width: 65%;
    top: 35%;
    position: fixed;
    left: 5%;
}

#customer-table {
    width: 45%;
    top: 35%;
    position: fixed;
    left: 5%;
}

#citem-table {
    width: 50%;
    top: 35%;
    position: fixed;
    left: 5%;
}
/*For edit menu table*/
#edit-menu-table {
    width: 39%;
    top: 45%;
    position: fixed;
    left: 5%;
}

#edit-table {
    width: 60%;
    top: 35%;
    position: fixed;
    left: 5%;
}
/*For table heading,row,dimension*/
th {
    font-size: 120%;
}

tr {
    font-size: 120%;
}

td {
    font-size: 120%;
}
/*For menu navigation*/
nav {
    text-align: right;
    font-size: 12px;
    letter-spacing: 1%;
    margin-left: 85%;
    top: 1%;
    color: #ffffff;
    position: fixed;
}

nav .menu {
    color: #f5f0f0;
    margin-right: 60px;
    font-size: 20px;
    padding: 10px;
    top: 1%;
    position: fixed;
}
/*For paragraph*/
p {
    top: 30%;
    font-size: 120%;
    color: #43de76;
    left: 5%;
    position: fixed;
}

.paragraph {
    color: #706b6b;
}
/* For action link*/
a {
    color: #1c1b1b;
}
/* For Cart navigation*/
#cart {
    margin-right: 150%;
}
/*For cart empty paragraph*/
#add-cart {
    top: 2%;
    font-size: 20px;
    left: 85%;
    position: fixed;
    margin-left: 5%;
    color: #f5f0f0;
}
/*For cart empty link*/
#cart-link {
    color: #2789e6;
}
/* For form*/
form {
    top: 20%;
    position: fixed;
}
/*For save button*/
#save {
    background-color: #3868b5;
    font-size: 70%;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
}
/* For all footer page*/
footer {
    background-color: #b0aeae;
    bottom: 0%;
    min-width: 100%;
    position: fixed;
    left: 0%;
    padding: 20px;
    text-indent: 0, 8%;
}